

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="Js/index.js" charset="utf-8"></script>
    </body>


    <footer>
    <b>  copyright 2021 Vivek Raj </b>
    </footer>
    </html>
