<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
  </head>
  <body>

  <% if (kindofday === "Thursday") { %>
    <h1 style = " color: purple"><%= kindofday %> ToDo List</h1>
    <% } else { %>
      <h1 style = "color: red"><%= kindofday %> ToDo List</h1>
      <% } %>
      

  </body>
</html>
